@import url('http://fonts.cdnfonts.com/css/wonder-boy-in-monster-world');
@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900 & display=trocar');
body {
    background: rgb(255, 255, 255);
}

.btn-play {
    background: rgb(6, 93, 173);
    border: 2px solid rgb(6, 93, 173);
    color: rgb(255, 255, 255);
    font-size: 2em;
    border-radius: 25px;
    transition: all 0.3s;
    margin-left: 10px;
    margin-top: 10px;
}

#btn-play {
    font-family: 'Gamer', sans-serif;
}

.btn-play:hover {
    box-shadow: 0 0 15px rgb(6, 93, 173);
    transition: all 0.3s;
    text-shadow: rgb(255, 255, 255) 0 0 10px;
}

.bg-shadow {
    border: 5px solid rgb(59, 5, 109);
    box-shadow: 0 0 15px rgb(59, 5, 109);
}

.btn-pause {
    background: rgb(6, 93, 173);
    border: 2px solid rgb(6, 93, 173);
    font-size: 10.5px;
    color: aliceblue;
    font-family: 'Wonder Boy In Monster World', sans-serif;
    transition: all 0.3s;
}

.a {
    font-family: 'Wonder Boy In Monster World', sans-serif;
}

.btn-pause:hover {
    box-shadow: 0 0 15px rgb(4, 56, 104);
    background: rgb(4, 56, 104);
    border: 2px solid rgb(4, 56, 104);
    color: aliceblue;
    transition: all 0.3s;
    text-shadow: rgb(255, 255, 255) 0 0 10px;
}

.btn-volta {
    background: rgb(5, 118, 224);
    color: white;
    font-size: 18px;
    transition: all 0.3s;
}

.btn-volta:hover {
    background: rgb(5, 76, 141);
    color: white;
    font-size: 18px;
    transition: all 0.3s;
    text-shadow: rgb(255, 255, 255) 0 0 10px;
}

#b {
    font-size: 18px;
}